USE [QLSV]
GO
/****** Object:  Table [dbo].[SaoHoa]    Script Date: 4/11/2026 12:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaoHoa](
	[masv] [varchar](20) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [varchar](20) NULL,
	[ngaysinh] [varchar](50) NULL,
	[noisinh] [nvarchar](100) NULL,
	[diachi] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 4/11/2026 12:07:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[masv] [varchar](20) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [varchar](20) NULL,
	[ngaysinh] [varchar](50) NULL,
	[noisinh] [nvarchar](100) NULL,
	[diachi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
